.crew__choice {
  @apply p-2 rounded-full;
  background-color: hsl(var(--blue-300) / var(--choice-accent, 0.6));
  &:hover,
  &:active,
  &:focus {
    --choice-accent: 0.7;
  }
}

.crew__choice[data-current="true"] {
  --choice-accent: 1;
}
