.navbar {
  @apply fixed top-0 right-0
  p-8 
  backdrop-blur-xs 
  h-screen w-3/4 
  translate-x-full transition-transform duration-500 ease-in-out
  flex flex-col gap-16
  uppercase;
  background-color: hsl(var(--background) / 0.8);
  font-family: var(--ff-barlow-cond);
  counter-reset: nav-link;
}

.navbar[data-open="true"] {
  @apply translate-x-0;
}

.navbar__list {
  @apply p-4 relative;
  counter-increment: nav-link;
}

.navbar__count::before {
  content: "0" counter(nav-link);
  @apply inline-block mr-4 font-bold;
}

.navbar__link {
  @apply block relative;
  &::after {
    @apply absolute h-full -right-12;
    border-inline-start: 0.5em solid hsl(var(--foreground) / 0.6);
  }
  &:hover,
  &:focus,
  &:active {
    &::after {
      content: "";
    }
  }
}

.navbar__link[data-active="true"] {
  &::after {
    content: "";
    border-inline-start-color: hsl(var(--foreground));
  }
}
