.navbar {
  @apply absolute top-0 right-0
  p-8 
  backdrop-blur-xs 
  h-screen w-3/4
  flex flex-col gap-16
  uppercase;
  background-color: hsl(var(--background) / 0.8);
  font-family: var(--ff-barlow-cond);
  counter-reset: nav-link;
}

.navbar__link {
  counter-increment: nav-link;
}

.navbar__count::before {
  content: "0" counter(nav-link);
  @apply inline-block mr-4;
}
