.planet__choice {
  @apply uppercase 
  pb-4 
  transition-colors duration-300;
  color: hsl(var(--foreground) / var(--choice-accent, 0.6));
  &:hover,
  &:active,
  &:focus {
    border-bottom: 0.3rem solid hsl(var(--foreground) / 0.8);
    --choice-accent: 0.8;
  }
}

.planet__choice[data-current="true"] {
  border-bottom: 0.3rem solid hsl(var(--foreground));
  --choice-accent: 1;
}

.planet__title {
  @apply uppercase;
  font-size: clamp(4rem, 3.6479rem + 1.5023vw, 5rem);
  font-family: var(--ff-bellefair);
}
